.app {
  background-color: #f9f9f9;
  width: 100%;
  position: relative;
}
.content {
  padding-top: 10rem;
  @media (max-width: 1040px) {
    padding: 15px;
  }
}
.main {
  align-items: center;
  display: flex;
  gap: 3rem;
  justify-content: center;
  position: relative;
  transition: all 1s ease-in-out;
  @media (max-width: 1040px) {
    display: fle;
    flex-direction: column-reverse;
  }
  @media (max-width: 750px) {
    gap: 0rem;
  }
}
.title {
  @media (max-width: 750px) {
    max-width: 75%;
  }
}
.left {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  @media (max-width: 1040px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto !important;
  }
  h1 {
    font-weight: bold;
    color: #2d2e32;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
    @media (max-width: 750px) {
      max-width: 70%;
      margin-bottom: 1rem;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: end;
    }
    @media (max-width: 570px) {
      font-size: 25px;
    }
  }
  img {
    position: absolute;
    top: 39%;
    right: 65%;
    @media (max-width: 570px) {
      display: none;
    }
  }
  p {
    font-size: 25px;
    font-weight: 500;
    color: #767676;
    padding-bottom: 20px;
    @media (max-width: 750px) {
      font-size: 18px;
      max-width: 70%;
    }
    @media (max-width: 570px) {
      font-size: 18px;
    }
  }
}

.img {
  background-image: url(../../../assets/фото.jpg);
  animation: morph 8s ease-in-out infinite;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid black;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: relative;
  width: 35rem;
  @media (max-width: 1040px) {
    background-position: 50% top;
  }
  @media (max-width: 750px) {
    background-position: 50% 14%;
    height: 28rem;
    width: 26rem;
  }
  @media (max-width: 570px) {
    background-position: 50% 14%;
    height: 15rem;
    width: 15rem;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.skills {
  padding-bottom: 120px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  @media (max-width: 1040px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 550px) {
    margin-top: 20px;
    padding: 20px 0;
  }

  p {
    font-size: 20px;
    font-weight: 600;
    padding-right: 30px;
    margin-right: 120px;
    border-right: 2px solid rgba(45, 46, 50, 0.5);
    @media (max-width: 1040px) {
      text-align: center;
      margin: 0;
      padding: 0;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border: 0;
      border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
      height: 4.5rem;
      width: 4.5rem;
      @media (max-width: 540px) {
        height: 3rem;
        width: 3rem;
      }
      img {
        height: auto;
        width: 2.5rem;
        @media (max-width: 540px) {
          width: 1.5rem;
        }
      }
    }
  }
}
